DB_HOST=db
DB_NAME=ecommerce_db
DB_USER=ecommerce_user
DB_PASS=password
DB_PORT=3306

APP_NAME="E-commerce Básico"
APP_URL=http://localhost:8000
APP_ENV=development

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu-email@gmail.com
SMTP_PASS=sua-senha 